.zx-image-crop-container
  position fixed
  top 0
  left 0
  width 100%
  height 100%
  background-color rgba(0, 0, 0, .5)
  *
    margin 0
    padding 0
  .zx-image-crop-wrapper
    position absolute
    z-index 2
    top 0
    left 0
    width 100%
    height 100%
    display: flex
    align-items center
    cursor move
    .crop-line-box
      margin 0 auto
      box-sizing border-box
      border 1px dashed #fff
  .zx-image-target
    position absolute
    z-index 1
    top 0
    left 0
    width: 100%
  .zx-crop-btns-wrapper
    position absolute
    z-index 3
    right 20px
    top 20px
    button
      display inline-block
      margin 0 10px
      padding 0 10px
      height 32px
      border-radius 4px
      color #fff
      border 0
      background-color royalblue
      cursor: pointer
      &.__cancel
        background-color: #666

